@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Libre Baskerville", serif;
  
  --color-cream-50: #fdfcf9;
  --color-cream-100: #fbf9f1;
  --color-cream-200: #f5f2e6;
  --color-cream-300: #eadcb9;
  --color-sage-100: #f0f2ed;
  --color-sage-200: #e1e6db;
}

@layer base {
  body {
    @apply bg-cream-50 text-stone-800 font-sans antialiased;
  }
  h1, h2, h3, h4, .serif {
    @apply font-serif;
  }
}
